body{
    background-color: rgb(245, 218, 219);    
}

fieldset{
    width:40%;
    margin: auto;
    background-color: white;
    border-radius: 2%;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

.p1{
    font-family: Arial, Helvetica, sans-serif;
    opacity: 50%;
}

label{
    font-family: Arial, Helvetica, sans-serif;
}

.inputTxt{
    width: 40%;
}

select{
    width:20%;
}

textarea{
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

.tab1{
    tab-size: 14;
}

.orangeF{
    width:40%;
    margin: auto;
    background-color:  #f1a61ae0;
}

.submit{
    background-color: #f8f7f6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: rgb(255, 185, 34);
    margin: auto;
}