body{
    background-color: rgba(200, 200, 255, 0.575);
}

.tituloCabecera{
    max-width: 500px;
    background: rgb(201, 201, 201);
    padding: 1px 50px 2px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
}

.boton{
    border-radius: 10px;
    margin-left: 200px;
    padding: 5px 12px 8px;
}


.diseñoValores{
    max-width: 510px;
    width: 100%;
    margin: auto;
    padding: 10px 20px 20px;
    border-radius: 0px;
    margin-top: 0;
    justify-content: center;
    align-items: center;
}



.calculadora{
    max-width: 500px;
    background: rgba(255, 255, 255, 0.884);
    padding: 1px 50px 2px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
}

.diseñoR{
    max-width: 300px;
    background: rgb(160, 160, 160);
    padding: 1px 50px 2px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
}