.encabezado{
    background: #918e9eb2;
}

.hora{
    background: #918e9eb2;
}

.progra{
    background: #065022;
}

.libre{
    background: #ffffff;
}

.receso{
    background: #fd0000;
}


.eoye{
    background: #ffdd1f;
}

.sistemas{
    background: #51c50471;
}

.inte{
    background: #fc0ee8;
}

.desarrollo{
    background: #0efcdc;
}

.seguridad{
    background: #fc590e;
}

.total{
    background: #918e9eb2;
}






