img.ladoDerechoPosicionIzquierdo{
    float: left;
    margin-right: 15px;
    padding: 1px 5px 13px;
}

div.reset {
    clear: both;
}


.imagenesLadoDerecho{
    text-align: center;
}


